html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    background: #f7f7f7;
    color: #111111;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* { box-sizing: border-box; }

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}